# Python 3 Crash Course 

## Outline
- Intro to Python
- Data Types
- Loops and Flow Control
- File reading
    - Exception Handling
    - DataFrame & Series
- Functions and Methods
- Objects and Classes

<img src="https://pics.me.me/why-does-python-live-on-land-because-its-above-c-level-60857697.png" alt="pycharm" style="width: 70%; clear: both; display:block; margin-left: 5%; margin-top: 2%;">

## Introduction to Python

- Python is a high-level, general-purpose programming language
- Python is widely considered as an interpreted language rather than a compiled language
- The focus of this course will be on **IMPERATIVE** style rather than *DECLARATIVE* 
- You can download Python from: https://www.python.org/downloads/
- Some recommended IDE: 

<a href="https://www.jetbrains.com/pycharm/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/PyCharm_Logo.svg/1024px-PyCharm_Logo.svg.png" alt="pycharm" style="width: 100px; float:left; display:inline; margin-left: 10%; margin-top: 1%"/></a>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png" alt="pycharm" style="width: 100px; float:left; display:inline; margin-left: 10%;">

### Imperative Programming vs Declarative Programming (Optional)

- **Declarative** - Say what you want
- **Imperative** - Say how to get what you want

In [73]:
# Imperative Style
result = 1
for i in range(1,7):
    result *= i
    print(result)
    
result

1
2
6
24
120
720

720

In [2]:
#Declarative Style

from functools import reduce
reduce(lambda x,y : x * y, range(1,7))

720

## Basic Data Types

- Text: ```str``` 

- Numeric: ```int```, ```float```, _```complex```_

- Sequence: ```list```, ```range```, _```tuple```_

- Maps: ```dict```

- set: ```set```, _```frozenset```_

- boolean: ```bool```

- _bytes: ```bytes```, ```bytesarray```, ```memoryview```_

In [16]:
list(set([1,2,3, 4, 1,3,4,5,4,3,4,5,3,2,1,2]))

[1, 2, 3, 4, 5]

In [3]:
## Text
print("---Text Type---")
print("hello world : " + str(type("hello world")))

## Numeric types
print("\n---Numeric Types---")
print(1," : ",type(1))
print(2.5," : ",type(2.5))

## Sequence
print("\n---Sequence Types---")
rangeVal = range(1,10)
print(rangeVal," : ",type(rangeVal))
integers = [x for x in rangeVal]
print(integers," : ",type(integers))

## Map <K,V>
print("\n---Mapping Type---")
intDict = {1:"one", 2:"two", 3:"three"}
print(intDict," : ",type(intDict))

---Text Type---
hello world : <class 'str'>

---Numeric Types---
1  :  <class 'int'>
2.5  :  <class 'float'>

---Sequence Types---
range(1, 10)  :  <class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]  :  <class 'list'>

---Mapping Type---
{1: 'one', 2: 'two', 3: 'three'}  :  <class 'dict'>

In [40]:
print("hello ",1234)

hello  1234

In [18]:
5/2

2.5

### Numeric Operations
- Addition +
- Subtraction -
- Multiplication *
- Power **
- Division /
- Modulo (Remainder) %

In [4]:
a = 3
b = 2

print("{} + {} = {}".format(a, b, a+b))

print("{} - {} = {}".format(a, b, a-b))

print("{} * {} = {}".format(a, b, a*b))

print("{} ** {} = {}".format(a, b, a**b))

print("{} / {} = {}".format(a, b, a / b))

print("{} % {} = {}".format(a, b, a % b))

3 + 2 = 5
3 - 2 = 1
3 * 2 = 6
3 ** 2 = 9
3 / 2 = 1.5
3 % 2 = 1

In [29]:
intlist = [1,2,3,4]

for i in intlist:
    for j in intlist:
        if(i == j):
            print(i)

1
2
3
4

In [24]:
a = 3
a == 3

True

### String

This segment will show some of the basic string operations in python3

One powerful tool to extract certain parts of the string through the use of pattern is called Regular Expression (Regex). I shall not touch this topic in this course. Regex deserves to have a separate course of its own due to the various syntax and how the pattern is formulated.

In [38]:
string = "The quick brown fox jumps over the lazy dog"

# Strings are list or Array objects
print(string[0])

# Substring (Extract parts of the string)
print(string[4:9])
print(string[4:9:2])

# List objects should be able to use the len() function to get the size of the list
print(len(string))

print("fox" in string)


print("{:.3f} {:s}" .format(0.56789, "hello"))
print("${:.2f}".format(0.5))
print("today is a {}".format(intlist))

T
quick
qik
43
True
0.568 hello
$0.50
today is a [1, 2, 3, 4]

### Map types < K, V> - Dictionary and JavaScript Object Notation (JSON) Data

In [46]:
import json

intDict = {1:"one", 2:"two", 3:"three"}
idString = json.dumps(intDict)
print(type(idString))
intDict = json.loads(idString)
print(type(intDict))

# Keys of intDict
print(intDict.keys())

# Values of intDict
print(intDict.values())

<class 'str'>
<class 'dict'>
dict_keys(['1', '2', '3'])
dict_values(['one', 'two', 'three'])

In [47]:
print("\n--- Retrieve all values using keys ---")
for key in intDict.keys():
    print(intDict[key])

--- Retrieve all values using keys ---
one
two
three

In [49]:
# Multi-layer Dictionary Data

employee = {"First Name" : "John", 
            "Last Name" : "Doe", 
            "Phone": {"House" : 65346543,
                      "Office" : 67896789,
                      "Handphone" : 98769876} 
           }

print(employee["Phone"]["House"])

# employee["First Name"]
employee["Phone"]

65346543

{'House': 65346543, 'Office': 67896789, 'Handphone': 98769876}

### List

- In Python, it is denoted as ```[]```
- ```[]``` in some language (like java) is called an array
- In order to use arrays in Python, you need the NumPy package to use the numpy::ndarray
- Arrays allows you to perform numeric operations directly on the sequence, list does not

<img src="https://img.devrant.com/devrant/rant/r_1932853_aqbT7.jpg" alt="You're not my son" style="width: 70%; clear: both; display:block; margin: 2%, 0, 5%, 5%;">

- List index always starts from 0 not 1 for most languages (i.e. Java, Python, C)
- There are languages which starts from 1 (i.e. R) - **Be aware of which index does the language start with**
- Using range() to access list from its index is inclusive of the start value and exclusive of the end value 
    - i.e. to get all elements from a list with its index, it would be 0 $\leq$ x $<$ 6 for the below example

In [52]:
# List datatype
integers = [1,2,3,4,5,6]
integers.append(7)
print(integers)
print("The length of the list is: ",len(integers))

## Getting elements directly from the list
print("\n---Getting elements directly from the list---")
for i in integers:
    print(i)

[1, 2, 3, 4, 5, 6, 7]
The length of the list is:  7

---Getting elements directly from the list---
1
2
3
4
5
6
7

In [53]:
## Getting elements from their index with Range()
print("\n---Getting elements from a list using index---")
for i in range(len(integers)):
    print("%d : %d"%(i, integers[i]))

---Getting elements from a list using index---
0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7

In [62]:
[x for x in range(len(integers),0,-1)]

[7, 6, 5, 4, 3, 2, 1]

In [63]:
## List vs arrays
print("\n---Divide integer list by 2---")
try:
    integers/2
except Exception as e:
    print("Exception", e)

---Divide integer list by 2---

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [64]:
import numpy as np

print("\n---Convert integer list to array then divide by 2---")
print(np.array(integers)/2)
print(type(np.array(integers)/2))

---Convert integer list to array then divide by 2---
[0.5 1.  1.5 2.  2.5 3.  3.5]
<class 'numpy.ndarray'>

In [66]:
print("\n---Divide integer list by 2 with List Comprehension---")
print([x/2 for x in integers])
print(type([x/2 for x in integers]))
print([x/2 for x in integers if x%2 == 0])

---Divide integer list by 2 with List Comprehension---
[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5]
<class 'list'>
[1.0, 2.0, 3.0]

In [65]:
print([x ** 2 for x in integers])

[1, 4, 9, 16, 25, 36, 49]

In [67]:
print("\nObtaining the last value can be done thru the use of negative index")
print(integers)
print(integers[-1])
print(integers[-2])
print(integers[-3:])

Obtaining the last value can be done thru the use of negative index
[1, 2, 3, 4, 5, 6, 7]
7
6
[5, 6, 7]

In [70]:
", ".join([str(x) for x in integers])

'1, 2, 3, 4, 5, 6, 7'

## Loops and Flow Control

- Types of Loops
    - for loop
    - while loop
- Flow controls
    - break
    - continue
    - pass

In [71]:
# For loop focuses on iterations

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [72]:
# While loop focuses on the given condition (boolean expression)

i = 1
while(i < 10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9

In [76]:
for i in range(1,3):
    print("\n--- i : " + str(i) + " ---")
    for j in range(10):
        if j == 8:
            break # exits current loop
        elif j == 5:
            continue # skip this one iteration of the loop
        else:
            pass # literally do nothing
        
        print("in inner loop " + str(j))
    print("in outer loop")

--- i : 1 ---
in inner loop 0
in inner loop 1
in inner loop 2
in inner loop 3
in inner loop 4
in inner loop 6
in inner loop 7
in outer loop

--- i : 2 ---
in inner loop 0
in inner loop 1
in inner loop 2
in inner loop 3
in inner loop 4
in inner loop 6
in inner loop 7
in outer loop

### Iterative Function

_Uses a loops to compute solutions as it goes_

In [18]:
"""
Function parses a number and computes the factorial of the number
Factorial of n is n x n-1 x n-2 ... x 3 x 2 x 1
"""

def factorial(number):
    product = 1
    for i in range(number,0,-1):
        product = product * i
    return product

print(factorial(6))

720

### Recursive Function
_Breaks down a problem into samller problems and calls itself for each of the smaller problems_

In [79]:
def factorial(number):
    if number <= 1:
        print("In if stmt")
        return 1
    else:
        print(number)
        return number * factorial(number - 1)
    
factorial(6)

6
5
4
3
2
In if stmt

720

### Combination

In [81]:
def combination(n,r):
    numerator = factorial(n)
    denominator = factorial(n-r) * factorial(r)
    return int(numerator / denominator)
    # return int((factorial(n)) / (factorial(n-r) * factorial(r))) # Alternative Approach

combination(5,2)

5
4
3
2
In if stmt
3
2
In if stmt
2
In if stmt

10

## File Reading

In [21]:
with open("./Dynamite.txt","r") as file:
    for line in file.readlines():
        print(line)
        
file.closed

'Cause I-I-I'm in the stars tonight

So watch me bring the fire and set the night alight (hey)

Shining through the city with a little funk and soul

So I'ma light it up like dynamite, whoa oh oh

True

In [82]:
f = open("Dynamite.txt", "r")
for line in f:
  print(line)

print("\nFile closed? ", f.closed)
f.close()
print("\nFile closed? ", f.closed)

'Cause I-I-I'm in the stars tonight

So watch me bring the fire and set the night alight (hey)

Shining through the city with a little funk and soul

So I'ma light it up like dynamite, whoa oh oh

File closed?  False

File closed?  True

### File Writing

- In order to erase all previous data or write a new file use the **w** flag (Write)
- In order to add on lines use the **a** flag (Append)
- If you use the append flag and the file name specified does not exist, it will create a file for you
- Remember why I mentioned the importance of closing the file, python does not write to file until the user is done, that is by cloing the file
    - If you do not close the file, the text will not be written into the file

In [85]:
with open("./Hello World.txt","w") as out_file:
    out_file.write("Hello, this is just some random text\n")
    
with open("./Hello World.txt","r") as in_file:
    for line in in_file.readlines():
        print(line) 

print("--- Appending text ---")        
#f = open("./Hello World.txt", "a")
#f.write("Now the file has more content!")
#f.close()

with open("./Hello World.txt","a") as out_file:
    out_file.write("Now the file has more content!")

with open("./Hello World.txt","r") as in_file:
    for line in in_file.readlines():
        print(line)
        
print("\n--- Overwrite---")        
with open("./Hello World.txt","w") as out_file:
    out_file.write("Hello, I have overwritten this file\n")
    
with open("./Hello World.txt","r") as in_file:
    for line in in_file.readlines():
        print(line)

Hello, this is just some random text

--- Appending text ---
Hello, this is just some random text

Now the file has more content!

--- Overwrite---
Hello, I have overwritten this file

### Printing outputs to a file

- Instead of using file.write(), you can instead choose to use the print() function and specify the file to be printed to

In [88]:
with open("./Printed file.txt","a") as f:
    print("This is an alternative method to writing an output", file = f)
    
with open("./Printed file.txt") as f:
    for line in f.readlines():
        print(line)

This is an alternative method to writing an output

This is an alternative method to writing an output

This is an alternative method to writing an output

### Dataframes and Series

In [90]:
import pandas as pd

PO = pd.read_csv("./recid.csv")
PO

,black,alcohol,drugs,super,married,felon,workprg,property,person,priors,educ,rules,age,tserved,follow,durat,cens,ldurat
0,0,1,0,1,1,0,1,0,0,0,7,2,441,30,72,72,1,4.276666
1,1,0,0,1,0,1,1,1,0,0,12,0,307,19,75,75,1,4.317488
2,0,0,0,0,0,0,1,1,0,0,9,5,262,27,81,9,0,2.197225
3,0,0,1,1,0,1,1,1,0,2,9,3,253,38,76,25,0,3.218876
4,0,0,1,1,0,0,0,0,0,0,9,0,244,4,81,81,1,4.394449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,0,1,1,1,0,0,0,0,0,0,12,0,393,8,80,80,1,4.382027
1441,1,0,0,1,1,1,0,1,0,0,12,0,345,12,73,73,1,4.290460
1442,1,0,0,0,0,0,1,0,0,0,11,3,264,36,81,81,1,4.394449
1443,0,0,0,1,1,0,1,0,0,0,12,0,374,9,81,81,1,4.394449
1444,0,0,0,1,0,0,0,0,0,0,8,2,252,13,72,72,1,4.276666

In [98]:
data = {'col_1': [3, 2, 1, 0, 1], 'col_2': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)
df["col_3"] = df["col_1"] * 2
df

   col_1 col_2  col_3
0      3     a      6
1      2     b      4
2      1     c      2
3      0     d      0
4      1     e      2

In [27]:
print(df.shape)
print(len(df)) # prints the number of rows in the dataframe
print(df.size) # 12 = 4 X 3
type(df)

(4, 3)
4
12

pandas.core.frame.DataFrame

In [97]:
print("--- Summing up down the column ----")
print(df.sum(axis = 0, numeric_only=True))

print("\n--- Summing up across the row ----")
print(df.sum(axis = 1, numeric_only=True))

--- Summing up down the column ----
col_1     6
col_3    12
dtype: int64

--- Summing up across the row ----
0    9
1    6
2    3
3    0
dtype: int64

In [29]:
print("--- Mean of column ----")
print(df.mean(axis = 0, numeric_only=True))

print("\n--- Mean of the row ----")
print(df.mean(axis = 1, numeric_only=True))

--- Mean of column ----
col_1    1.5
col_3    3.0
dtype: float64

--- Mean of the row ----
0    4.5
1    3.0
2    1.5
3    0.0
dtype: float64

In [30]:
df[["col_1","col_3"]].corr()

       col_1  col_3
col_1    1.0    1.0
col_3    1.0    1.0

In [109]:
df["col_1"]

pandas.core.series.Series

In [99]:
df[df["col_1"] == 1]

   col_1 col_2  col_3
2      1     c      2
4      1     e      2

In [103]:
print(df.iloc[:,[0,2]])

   col_1  col_3
0      3      6
1      2      4
2      1      2
3      0      0
4      1      2

In [104]:
names = ["Tom", "Jerry", "Ben"]
s = pd.Series(names)
print(type(s))
s

<class 'pandas.core.series.Series'>

0      Tom
1    Jerry
2      Ben
dtype: object

In [107]:
pd.Series({'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']})

col_1    [3, 2, 1, 0]
col_2    [a, b, c, d]
dtype: object

In [36]:
# Output dataframe to a csv file
df.to_csv("Sample.csv")

### Exception Handling

Exception handling is especially important as it prevents your program from crashing when it hits an error. A good programmer should anticipate the possible exceptions which he/she would encounter and catch them. Some common uses of exception handling includes:

- Connecting and retrieving information from databases
- Connecting and scraping information online
- file reading

In [37]:
try:
    print("hello there " + 123)
except Exception as e:
    print(e)
    
try:
    with open("./Hello World2.txt","r") as file:
        for line in file.readlines():
            print(line)
except Exception as e:
    print(e)
    
print("Exceptions caught successfully, program still runs -- 1")


with open("./Hello World2.txt","r") as file:
        for line in file.readlines():
            print(line)
            
# This statement should be unreachable since the chunk above will bomb
print("Exceptions caught successfully, program still runs -- 2")

can only concatenate str (not "int") to str
[Errno 2] No such file or directory: './Hello World2.txt'
Exceptions caught successfully, program still runs -- 1

FileNotFoundError: [Errno 2] No such file or directory: './Hello World2.txt'

## Functions and Methods

- Within a class, it is called a **Method**
- Otherwise it is called a **Function**
- You should use function is the same chunk of code is to be used multiple times
- When developing applications, you will have multiple classes and functions, how does the program know where to start
    - This is where the **main** method comes into play
    - It tells the application where to start

In [117]:
def add(first, second):
    return first + second

def aggregate(first, second):
    addition = add(first, second)
    avg = addition / 2
    return addition, avg

In [122]:
if __name__ == '__main__':
    # sum1 = add(1,2)
    # print(sum1)
    agg = aggregate(1,2)
    summ, avg = aggregate(1,2)
    print(agg)
    print(summ)
    print(avg)

(3, 1.5)
3
1.5

## Objects and Classes

- The basic building block towards OOP
- A class is a template for the creating an object
- An object is a particular instance of the class (i.e Blaze is an instance of AoEGuard, and so is Specter)
- There are 2 types of relationships displayed here
    - **is-a** relationship is to demonstrate the link between an subclass and its superclass (e.g. an AoE Guard is a type of Guard)
    - **has-a** relationship is an object being a property of another object (e.g. a guard has a weapon)
- By using the **super()** function, the child class will automatically inherit the methods and properties from its parent.

In [123]:
class Weapon:
    name = ""
    
    def __init__(self, name):
        self.name = name
        
    def toString(self):
        return self.name

In [141]:
class Guard:
    name = ""
    weapon = Weapon("unarmed")
    
    def __init__ (self, name, weapon):
        self.name = name
        self.weapon = weapon
        
    def getName(self):
        return self.name
    
    def getWeapon(self):
        return self.weapon.toString()
        
    def toString(self):
        return "Operator: %s\nWeapon: %s" %(self.name, self.weapon.toString()) 
    
class RangedGuard(Guard):
    atkRange = 0
    atkType = ""
        
    def __init__(self, name, weapon, atkRange, atkType):
        super().__init__(name, weapon)
        self.atkRange = atkRange
        self.atkType = atkType
    
    def getRange(self):
        return self.atkRange
    
    def getType(self):
        return self.atkType
        
    def toString(self):
        return "\n----Operator Info----\n%s\nRange: %d\nAttack Type: %s\n----End Report----\n" %(super().toString(),self.atkRange,self.atkType)
    
class AoEGuard(Guard):
    atkRange = 0
    atkType = ""
        
    def __init__(self, name, weapon, atkRange, atkType):
        super().__init__(name, weapon)
        self.atkRange = atkRange
        self.atkType = atkType
        
    def getRange(self):
        return self.atkRange
    
    def getType(self):
        return self.atkType
        
    def modifyRange(self, newRange):
        # self.atkRange = newRange
        return AoEGuard(self.name, self.weapon, newRange, self.atkType)
        
    def toString(self):
        return "\n----Operator Info----\n%s\nRange: %d\nAttack Type: %s\n----End Report----\n" %(super().toString(),self.atkRange,self.atkType)

In [133]:
# Creating objects
Astesia = Guard("Astesia", Weapon("Sword"))
SilverAsh = RangedGuard("SilverAsh", Weapon("Cane"), 4,"Single Target")
Lappaland = RangedGuard("Lappaland", Weapon("Dual Sword"), 4,"Single Target")
Blaze = AoEGuard("Blaze", Weapon("Chainsaw"), 2,"AoE")
Specter = AoEGuard("Specter", Weapon("Chainsaw"), 2,"AoE")

print(Blaze.toString())
print(Blaze.getType())
Blaze2 = Blaze.modifyRange(3)
print(Blaze.toString())
print(Blaze2.toString())

# Mutable Version (Bad Practise)
#Blaze.modifyRange(3)
#print(Blaze.toString())

----Operator Info----
Operator: Blaze
Weapon: Chainsaw
Range: 2
Attack Type: AoE
----End Report----

AoE

----Operator Info----
Operator: Blaze
Weapon: Chainsaw
Range: 2
Attack Type: AoE
----End Report----


----Operator Info----
Operator: Blaze
Weapon: Chainsaw
Range: 3
Attack Type: AoE
----End Report----

In [135]:
guardList = [];

guardList.append(SilverAsh)
guardList.append(Lappaland)
guardList.append(Blaze)
guardList.append(Specter)
guardList.append(Astesia)

for guard in guardList:
    # print(guard.toString()) # Polymorphism
    # print(guard.getName()) # Inheritance
    print(guard.getType()) # This will bomb - there is no getType in the super class guard

Single Target
Single Target
AoE
AoE

AttributeError: 'Guard' object has no attribute 'getType'

### Best Practices

- You will see that both *Blaze.atkRange* and **Blaze.getRange()** will yield the same result. However, you should avoid using *Blaze.atkRange*. It is good practise to access the properties of an Object through the use of methods provided by the class.

In [138]:
Blaze.name = "Broca"
print(Blaze.getName())

Broca

In [143]:
Astesia = Guard("Astesia", Weapon("Sword"))
print(Astesia.toString())

Operator: Astesia
Weapon: Sword

In [147]:
print("\\----")

\----

In [148]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'